/* Common Styles */
h1 {
    color: #0084FF;
    background-color: #EFF4FC;
    padding-bottom: 3rem;
}

body {
    margin: 0px;
}

p,
td {
    color: grey;
    ;
}

/* Header Styling */
header {
    position: relative;
}

#logo-cues-container {
    background-color: #0084FF;
    display: flex;
    justify-content: center;
}

#logo-cues {
    width: 10%;
    color: white;
}

#pic-content-container {
    margin-top: 6rem;
    margin-bottom: 2.5rem;
}

#profile-pic-container {
    width: 180px;
    height: 180px;
    margin: auto;
    position: absolute;
    z-index: +1;
    left: 44%;
    top: 42.5%;
}

#profile-pic-container img {
    border-radius: 100%;
    width: 100%;
    height: 100%;

}

#heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3rem;
    background-color: #EFF4FC;
}

#heading-container h1 {
    font-size: 3rem;
    text-align: center;
}

#heading-content-container {
    display: flex;
    flex-direction: column;
}

#heading-content-container h2 {
    text-align: center;
}

#heading-content-container p {
    margin: 5px 1px;
    font-size: 1.063rem;
    color: grey;
    text-align: center;
}

/* Article Styling */
table {
    width: 100%;
}

th,
td {
    padding: 1.6rem;
}

td {
    font-size: 1.063rem;
}

th {
    background-color: #EFF4FC;
    text-align: left;
    font-size: 1.2rem;

}

.amount {
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
}

tr:nth-child(5) {
    background-color: #EFF4FC;
}

tr:nth-child(5) td {
    color: black;
}

tr:nth-child(6) {
    background-color: #0084FF;
    color: white;
}

tr:nth-child(6) td {
    color: white;
}

tr:nth-child(5),
tr:nth-child(6) {
    font-weight: bold;
}

article div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

table+div {
    padding: 1.5rem 0;
}

#confirmation-container {
    padding: 1rem;
}

#receipt-container {
    padding: 1rem 1rem 1.9rem 1rem;
}

#confirmation-container p,
#receipt-container p {
    margin: 4px;
    font-size: 1.2rem;
}

#receipt-container p:nth-child(2) {
    color: #0084FF;
}

/* Footer Styling */
footer {
    background-color: #10214A;
}

footer div:first-child {
    padding: 2rem 4rem;
}

footer div p:first-child {
    font-size: 2rem;
    margin-top: 0px;
}

footer p {
    color: white;
    text-align: center;
    font-size: 1.1rem;
}

#app-play-container {
    display: flex;
    justify-content: center;
}

#app-play-container a {
    width: 10rem;
}

#app-play-container img {
    width: 100%
}

hr {
    height: 1px;
    background-color: #EFF4FC;
    border: none;
    margin: 2rem 0;
}

span {
    margin: 0 1rem;
}

footer div p:last-child {
    color: #1076f1;
}

/* Responsiveness */
@media only screen and (max-width: 768px) {
    #about-cues {
        text-align: start;
    }
}